---
import Title from "./Title.astro";
const { title, items, GetImageUrl } = Astro.props
---

<section id="partners">
  <Title>{title}</Title>
  {items.map(({title, image, description, caption})=>(
    <article>
      <img src={GetImageUrl(image)} alt="" />
      <h1>{title}</h1>
      <legend>{caption}</legend>
      <p>{description}</p>
    </article>
  ))}
</section>
<style>
  section {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 1030px;
    margin: auto;
    justify-content: space-around;
    background-color: var(--color-white);
  }

  article {
    width: 44%;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  img {
    background-color: red;
    display: block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
  }

  h1 {
    font-size: 24px;
    font-weight: 100;
    text-align: center;
  }

  legend {
    text-align: center;
  }

  p {
    text-align: justify;
    font-size: 14px;
    line-height: 1.6rem;
  }
</style>